<footer class="bg-dark indigo text-white mt-4" id="footer">
                <div class="container-fluid py-1">
                                <div class="row">
                                                <div class="col-md-12 text-center social">
                    
                                                    <small>We are YourFitShirt !</small>
                    
                                                    <span> We're social, come meet and meet us: </span><br>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-github"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
            
                </div>
</footer>