
<div class="container">
  <hr>
  <div class="row">
      <div class="col-sm-3 col-md-3 pb-2">
          <div class="card card-outline-info" id="1Panel">
            <div class="card-block">
              <div class="card-title"><span>City: {{cityName}}</span><button type="button" 
                   class="close" data-target="#1Panel" data-dismiss="alert">
                   <span class="float-right"><i class="fa fa-remove"></i></span></button>
              </div>
              <p>Humidity: {{cityHumid}} </p><img src="//placehold.it/50/eeeeee" class="rounded rounded-circle">
            </div>
          </div>
        </div>
  </div> 
</div>