<div>

<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
     <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
     <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.phone }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.company.name }} </mat-cell>
   </ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'highlight': selectedRowIndex == row.id}"
(click)="highlight(row)">></mat-row>

</mat-table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>